#gridContainer{
display: grid;
    grid-template-areas:
    'header'
    'game'
    'footer';
gap: 0;
}

body{
    margin: 0;
    padding: 0;
}


header{
    background-color: mediumpurple;
    background-image: linear-gradient(mediumpurple, #6f49b6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-area: header;
    height: auto;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-family: 'VT323', monospace;

}
aside > h1{
    padding-left: 20px;
    letter-spacing: 2px;
    font-family: 'VT323', monospace;
}


.ScoreBoard{
    padding: 0;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
}
.ScoreBoard h1{
    font-size: 1.3em;
}


dl dt{
    text-align: center;
}
dl{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header h1,img,sub{
    margin: 0;
    color: #96ff00;
    text-align: center;

}

nav a{
    display: inline-block;
    text-decoration: none;
    border: 3px solid #5a008d;
    background-color: green;
    color: #EDF5E1;
    padding: 3px;
    margin: 5px 5px 5px 5px;
    border-radius:  15px;
    text-align: center;
    user-select: none;
    flex-basis: 0;
    flex-grow: 1;
    font-size: 0.5em;
}

nav a:hover{
    background-color: #00ff28;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 450px;


}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #200054;
    background-image: linear-gradient(#200054, #4c00ff);
    grid-area: game;
    min-height: 88.6vh;
}

#GamePage{
    flex-direction: row;
}


.MainMenu{
    margin: 1%;
    min-height: 12%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: center;
    justify-content: center;
    padding: 2% 0 2% 0;
    font-size: 1.5em;
    flex-basis: 0;
    flex-grow: 1;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 5vh;
    background-color: darkmagenta;
    background-image: linear-gradient( #ce00ce, darkmagenta);
    grid-area: footer;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;

}


#canvas{
    flex-shrink: 1;
    flex-basis: 500px;
    max-width: 500px;
    min-width: 100px;
    height: 500px;
    margin: 3%;
    align-self: center;
    border: 3px dashed black;
    background: url("SiteImages/GalaxyInvaders.png") #8d50ff round;
}

.MainMenu > button{
    display: block;
    border-radius: 5px;
    background-color: green;
    color: #EDF5E1;
    border: none;
    margin: 1%;
    padding: 6%;
    min-width: 300px;
    font-size: 1.2em;
}

.Etext, .Mtext, .Htext{
    user-select: none;
    border-radius: 5px;
    padding: 10px;
    margin: 1%;

}
#Easy, .Etext{
    background-color: green;
}


#Medium, .Mtext{
    background-color: #ffa200;
}
#Hard, .Htext{
    background-color: #ff5100;
}
#FullScreen{
    background-color: gray;
}
#Continue , #PauseResume{
    display: none;
}

.LoadGameImages > img{
    display: none;
}

article{
    min-width: 300px;
    margin: 2%;
    background-color: #5CDB95;
    color: #EDF5E1;
    border-radius: 20px;
    padding: 2% 5% 2% 5%;
    font-size: 1.5em;
    max-width: 600px;
    font-family: 'VT323', monospace;
}

article p , h1 , h2{
    text-align: center;
}

article > h1{
    font-size: 1.4em;
}

button:hover{
    box-shadow: 5px 5px #5309ff !important;
}

#AboutMainArticle{
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}



/* HIDE SCROLLBAR BUT RETAIN FUNCTIONALITY

body::-webkit-scrollbar {
    display: none;
}

 Hide scrollbar for IE, Edge and Firefox
body {
    -ms-overflow-style: none;   IE and Edge
    scrollbar-width: none;   Firefox
}
*/